body{
    margin: 0px 20px;
    padding: 10px;
}
.container{
    display:grid 20px ;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
}
.nav ul li  {
display: inline-block;

}
.nav ul li a{
  text-decoration: none;
  font-size: x-large;
  color: #b3b3b3;
  padding: 10px;
}
.firstsec{
  display: grid;
  justify-content: center;
  justify-items: center;
}
.header{
  color: #00b3a8;
}
.para{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #748abc;
  font-size: 16px;
  
  
}
.cards{
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px;  
}
.patient{
  background: #00ccb1;
  padding: 20px;
  margin-right: 50px;
  display: grid;
  border-radius: 10px;
  color: #fffff2;
  ;
}
.doctors{
  background: #3d83df;
  padding: 20px;
  margin-right: 50px;
  display: grid;
  border-radius: 10px;
  color: #fffff2;

}
.clinics{
  background: #1b2734;
  padding: 20px;
  margin-right: 50px;
  display: grid;
  border-radius: 10px;
  color: #fffff2;
}
.content{
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr ;
}
.content p{
  font-size: 26px;
  font-weight: 300;
  line-height: 33px;
  color: #21b39b;
}
.content li{
  display: inline;
}

.content-1{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr ;
background-color: #dcf7f6;

}
.content-1 h2{
  padding: 10px;
}



.carte-1{
  border: dodgerblue;
  text-align: center;
  width: 300px;
  margin: 50px;
  background-color: #ffffff;
 }
.carte-2{
  border: dodgerblue;
  text-align: center;
  width: 300px;
  margin: 50px;
  background-color: #ffffff;
  
}
.carte-3{
  border: dodgerblue;
  text-align: center;
  width: 300px;
  margin: 50px;
  background-color: #ffffff;
}
.carte-4{
  border: dodgerblue;
  text-align: center;
  width: 300px;
  margin: 50px;
  background-color: #ffffff
}
.part h2 {
  font-size: 34px;
  font-weight: 300;
  line-height: 44px;
  color: #00b3a7;
}
.part p{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: sans-serif;
}
.content-1 h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: #73cfdf;
}
.content-2{
  display: grid;
  justify-content: center;
  justify-items: center;
}
.content-2 h1{
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  color: #00b39b;
}
.content-2 p{
font-size: 14px;
font-weight: 400px;
}
.card__{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.end{
  display: grid;
  justify-content: center;
  align-items: center;
 }
.section__inner{
  font-size: 12px;
  padding: 50px;
  display: grid;
  align-content: center;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr ;
}



